{% extends 'base.html' %}

{% block title %} Show contect {% endblock title %}

{% block body %}

<table border="1">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
        <th>subject</th>
    </thead>
    <tbody>
        {% for i in data %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.address}}</td>
            <td>{{i.subject}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}