{% extends 'base.html' %}
{% block title%} Laptop {% endblock title %}
{% block body%}
<h1 class="my-4" style="text-align: center;">Select Your Laptop</h1>

<style>
    .center {
        display: table;
        margin: auto;
    }

    .image {
        margin-top: 50px;
        width: 350px;
        height: 470px;
        object-fit: cover;
        border-radius: 20px;
        object-fit: cover;
        transition: 0.4s;
    }

    .image:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 10px 5px rgb(40, 194, 171);
    }
</style>

<div class="container">
    <div class="row">
        {% for i in data %}
        <div class="col-lg-4 ">
            <!-- <h2 class="center">{{i.tittle}}</h2>     -->
           
                <img src="{{i.image.url}}" class="image center" alt="img"> <br></a>
            <h2 class="center">{{i.title}}</h2>
  
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group" style="margin-left: 130px;">
                <a href="{% url 'lread' i.id %}" class="center"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>&nbsp;&nbsp;
                <a href="{% url 'cart_add' 'l' i.id %}" class="center"> <button type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</button></a>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
              </div>
         
        </div>
           
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
